.cart_content {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  background-color: var(--cor-secundaria);
  color: var(--cor-quadriaria);
}

.cart_produto {
  display: flex;
  min-height: 30vh;
  width: 90vw;
  background-color: var(--cor-secundaria);
  box-shadow: 0 0 5px var(--cor-quadriaria);
  padding: 0 3rem;
  color: var(--cor-quadriaria);
}

.product_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
}

.product_image img {
  width: 65%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.product_info {
  display: flex;
  flex-direction: column;
  width: 45vw;
  justify-content: center;
  gap: 0.8rem;
  position: relative;
}

#cart_check {
  position: absolute;
  bottom: 10%;
  right: 40%;
  color: var(--cor-quadriaria);
}

.product_price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.juntar {
  display: flex;
  gap: 1rem;
}

.cart_garantia {
  display: flex;
  justify-content: center;
  background-color: var(--cor-secundaria);
  box-shadow: 0 0px 5px var(--cor-quadriaria);
  width: 60vw;
  margin: 1rem 0;
  position: relative;
  gap: 3rem;
  padding: 1rem 3rem;
  padding-top: 4rem;
  color: var(--cor-quadriaria);
}

.garantia_title {
  position: absolute;
  top: 10%;
  left: 2%;
  font-weight: bold;
  font-size: 1.2rem;
}

.garantia_box {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-around;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 1rem;
  padding: 1rem;
}

.garantia_box span {
  font-size: 0.8rem;
}

.cart_frete {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-secundaria);
  box-shadow: 0 0px 5px var(--cor-quadriaria);
  width: 29vw;
  margin: 1rem 0;
  padding: 3rem;
  gap: 0.5rem;
  color: var(--cor-quadriaria);
}

.cart_frete span {
  font-size: 0.8rem;
}

.cart_frete input {
  background-color: var(--cor-secundaria);
  color: var(--cor-quadriaria);
  border: 1px solid #aaa;
  height: 2rem;
  outline: none;
  font-size: 1.2rem;
}

.cart_frete button {
  background-color: var(--cor-secundaria);
  color: var(--cor-quadriaria);
  border: 1px solid #aaa;
  margin-top: 2rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: 0.5s;
  position: relative;
  z-index: 2;
}

.cart_frete button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cor-principal);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotateX(90deg);
  transition: all 0.5s;
  border-radius: 0.5rem;
  text-decoration: none;
  z-index: -1;
}

.cart_frete button:hover::before {
  transform: rotateX(0);
}

.cart_frete button:hover {
  color: var(--cor-quadriaria);
  text-decoration: none;
  z-index: 3;
}

@media screen and (max-width: 900px) {
  .juntar {
    display: flex;
    flex-direction: column;
  }

  .cart_produto {
    flex-direction: column;
    width: 90vw;
    min-height: 30vh;
    justify-content: space-around;
    align-items: center;

  }

  .product_info {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #cart_check {
    position: static;
    bottom: -38%;
    right: 32%;
  }

  .cart_garantia {
    width: 90vw;
  }

  .cart_frete {
    width: 90vw;
  }
}

@media screen and (max-width: 610px) {
  .cart_produto {
    width: 85vw;
  }

  .product_image img {
    width: 85%;
  }

  .cart_garantia {
    width: 85vw;
    flex-direction: column;
  }

  .garantia_title {
    top: 5%;
    left: 32%;
  }

  .garantia_box {
    height: 15vh;
  }

  .cart_frete {
    width: 85vw;
  }
}

@media screen and (max-width: 520px) {
   .product_image img {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .cart_produto {
    width: 80vw;
  }

  .cart_garantia {
    width: 80vw;
  }

  .garantia_title {
    left: 28%;
  }

  .cart_frete {
    width: 80vw;
  }

  .product_image img {
    width: 100%;
  }
}
