.cart_content {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
}

.cart_produto {
  display: flex;
  min-height: 30vh;
  width: 90vw;
  background-color: #e9e9e9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  padding: 0 3rem;
  color: var(--cor-principal);
}

.product_image {
  display: flex;
  width: 25vw;
}

.product_image img {
  width: 65%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.product_info {
  display: flex;
  flex-direction: column;
  width: 45vw;
  justify-content: center;
  gap: 0.8rem;
  position: relative;
}

#cart_check {
  position: absolute;
  bottom: 10%;
  right: 40%;
  color: var(--cor-principal);
}

.product_price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.juntar {
  display: flex;
  gap: 1rem;
}

.cart_garantia {
  display: flex;
  justify-content: center;
  background-color: #e9e9e9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  width: 60vw;
  margin: 1rem 0;
  position: relative;
  gap: 3rem;
  padding: 1rem 3rem;
  padding-top: 4rem;
}

.garantia_title {
  position: absolute;
  top: 10%;
  left: 2%;
  font-weight: bold;
  font-size: 1.2rem;
}

.garantia_box {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-around;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 1rem;
  padding: 1rem;
}

.garantia_box span {
  font-size: 0.8rem;
}

.cart_frete {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  width: 29vw;
  margin: 1rem 0;
  padding: 3rem;
  gap: 0.5rem;
}

.cart_frete span {
  font-size: 0.8rem;
}

.cart_frete input {
  border: 1px solid #aaa;
  height: 2rem;
  outline: none;
  font-size: 1.2rem;
}

.cart_frete button {
  border: 1px solid #aaa;
  margin-top: 2rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: 0.5s;
  position: relative;
  z-index: 2;
}

.cart_frete button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cor-principal);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotateX(90deg);
  transition: all 0.5s;
  border-radius: 0.5rem;
  text-decoration: none;
  z-index: -1;
}

.cart_frete button:hover::before {
  transform: rotateX(0);
}

.cart_frete button:hover {
  color: var(--cor-secundaria);
  text-decoration: none;
  z-index: 3;
}