.categories_list {
  display: flex;
  background-color: var(--cor-secundaria);
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
  padding: 3%;
}

a {
  overflow: hidden;
}

.categories_list_link {
  color: black;
  font-family: var(--font-secundaria);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  padding: 0.5rem;
  font-weight: bold;
  z-index: 1;
}

.categories_list_link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cor-principal);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotateX(90deg);
  transition: all 0.5s;
  border-radius: 0.5rem;
  text-decoration: none;
}

.categories_list_link:hover::before {
  transform: rotateX(0);
}

.categories_list_link:hover {
  color: var(--cor-secundaria);
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  main {
    background-color: var(--cor-secundaria);
  }

  .categories {
    padding: 0;
    background-color: var(--cor-secundaria);
    height: 100vh;
    width: 40vw;
    position: absolute;
    top: 0;
    z-index: 3;
    box-shadow: 0.2rem 0.2rem 0.5rem #000000;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    margin-left: -100vw;
    position: fixed;
  }

  .categories_list {
    background-color: var(--cor-secundaria);
    height: 100vh;
    flex-direction: column;
    padding: 0 1rem;
    justify-content: space-evenly;
  }

  .categories_list li {
    width: 100%;
  }

  .categories_list_link {
    padding: 1rem;
    padding-right: 50%;
    width: 100%;
    white-space: nowrap;
  }

  .categories_list_link::before {
    content: '';
    width: 0;
  }

  .categories_list_link:hover {
    color: var(--cor-principal);
  }

  @keyframes showNavbar {
    from {margin-left: -100vw;}
    to {margin-left: 0vw;}
  }

  @keyframes closeNavbar {
    from {margin-left: 0vw;}
    to {margin-left: -100vw;}
  }
}

@media screen and (max-width: 580px) {
  .categories {
    width: 50vw;
  }
}

@media screen and (max-width: 380px) {
  .categories {
    width: 60vw;
  }
}