.contact {
  background-color: var(--cor-principal);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.contact_info {
  padding: 2%;
}

.contact_info h2, p{
  color: white;
  text-align: center;
  padding: 5px;
}

.contact_info h2 {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-secundaria);

}

.contact_info p {
  font-family: var(--font-secundaria);
  font-size: 16px;
}

.contact input {
  background-color: var(--cor-secundaria);
  border: 1px solid var(--cor-quadriaria);
  border-radius: 24px;
  width: 40%;
  color: var( --cor-quadriaria);
  height: 40px;
  padding-left: 1rem;
  cursor: pointer;
}

#email {
  position: absolute;
  top: 44%;
  left: 51%;
  z-index: 2;
}

.contact input::placeholder {
  padding-left: 2rem;
  color: var( --cor-quadriaria); 
  font-family: var(--font-secundaria);
}

@media screen and (max-width: 1280px) {
  #email {
    left: 52%;
  }
}

@media screen and (max-width: 1200px) {
  #email {
    left: 53%;
  }
}

@media screen and (max-width: 1140px) {
  #email {
    left: 54.5%;
  }
}

@media screen and (max-width: 1080px) {
  #email {
    left: 56%;
  }
}

@media screen and (max-width: 1000px) {
  #email {
    left: 58%;
  }
}

@media screen and (max-width: 920px) {
  #email {
    left: 60%;
  }
}

@media screen and (max-width: 860px) {
  #email {
    left: 62%;
  }
}

@media screen and (max-width: 790px) {
  #email {
    left: 64%;
  }
}

@media screen and (max-width: 710px) {
  #email {
    left: 66%;
  }
}

@media screen and (max-width: 640px) {
  #email {
    left: 68%;
  }
}

@media screen and (max-width: 580px) {
  .contact {
    flex-direction: column;
  }

  .contact input {
    width: 60%;
  }

  #email {
    top: 74%;
    left: 25%;
  }
}