.carousel {
  background-color: var(--cor-principal);
  height: 250px;
}

.carousel-item {
  cursor: pointer;
}

.content {
  padding: 2rem 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5rem;
  list-style: none;
  background-color: var(--cor-secundaria);
}

.content_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-secundaria);
  font-weight: 600;
  margin-top: 2rem;
}

.content_item img {
  width: 200px;
  max-height: 150px;
}

.content_item p {
  text-align: center;
  color: var(--cor-principal);
  font-family: var(--font-secundaria);
  padding: 2%;
  font-size: 16px;
}

.d-block {
  padding: 3%;
}