.finalizado_content{
  width: 100vw;
  height: 49.5vh;
  background-color: var(--cor-secundaria);
}

.finalizado {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.finalizado h1 {
  font-size: 1.6rem;
  color: black;
}

.finalizado a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

.finalizado a {
  border: 1px solid #aaa;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  text-decoration: none;
  text-align: center;
}

.finalizado a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cor-principal);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotateX(90deg);
  transition: all 0.5s;
  border-radius: 0.5rem;
  text-decoration: none;
  z-index: -1;
}

.finalizado a:hover::before {
  transform: rotateX(0);
}

.finalizado a:hover {
  color: var(--cor-secundaria);
  text-decoration: none;
  z-index: 3;
}