.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1% 0;
  flex-wrap: wrap;
  background-color: var(--cor-secundaria);
  height: 15vh;
}


.button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer; 
}

.button:focus {
  border: none;
  outline: none;
}

.button_close {
  color: red;
  font-family: Chiller;
  font-size: 50px;
  margin: 0;
}

.header_title {
  width: 15rem;
  text-decoration: none;
}

.header_title:hover {
  text-decoration: none;
}

.header_title h1 {
  font-family: Nasa;
  font-size: 3rem;
  color: var(--cor-principal);
  position: relative;
}

.rotation_title {
  font-family: Chiller;
  font-size: 4rem;
  color: red;
  position: absolute;
  top: -15%;
  right: 5%;
  animation: rotationTitle 5s infinite;
}

@keyframes rotationTitle {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

.header_title img {
  width: 200px;
}

.header_navigation ul {
  display: flex;
  gap: 25%;
  list-style: none;
  justify-content: space-evenly;
  white-space: nowrap;
  /*evita a quebra de linha*/
  align-items: center;
  width: 100%;
}

.header_navigation_item a {
  display: flex;
  text-decoration: none;
  color: var(--cor-principal);
  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  align-items: center;
}

.lista_desejo {
  background: url(../images/sacola-de-compra.png) no-repeat;
  padding-left: 27px;
}

.entrar {
  background: url(../images/usuario.png) no-repeat;
  padding-left: 27px;
}

.nav_bottom {
  display: none;
}

@media screen and (max-width: 900px) {
  .header {
    height: 18vh;
    flex-direction: column;
    gap: 10%;
    position: relative;
    padding: 0;
    justify-content: center;
  }

  .header_title {
    position: absolute;
    top: 25%;
    right: 10%;
  }

  .button {
    display: block;
    outline: none;
  }

  .button_open {
    position: absolute;
    top: 25%;
    left: 8%;
  }

  .button_close {
    position: absolute;
    top: 5%;
    left: 45%;
  }

  .header_navigation_item {
    display: none;
  }

  .nav_bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8vh;
    width: 100vw;
    z-index: 2;
    background-color: #262626;
    box-shadow: 0 -1px 8px rgba(255, 255, 255, 0.4);
  }

  body {
    padding-bottom: 8vh;
  }

  .nav_bottom_item img {
    width: 30px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    height: 12vh;
    gap: 0;
  }

  .header_title {
    top: 30%;
  }

  .button_open {
    top: 28%;
  }

  .header_title img {
    width: 150px;
  }

  .header_navigation ul {
    flex-direction: column;
  }

  .header_navigation_item {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 380px) {
  .header {
    height: 12vh;
    gap: 5%;
  }

  .button {
    transform: scale(0.7);
  }

  .button_open {
    top: 20%;
    left: 5%;
  }
}

/*https://www.flaticon.com/br/icon-fonts-mas-baixados/20*/