.map {
  background-color: var(--cor-principal);
  width: 100%;
  height: 100%;
}

.map_info h3 {
  color: var(--cor-secundaria);
  font-family: var(--font-secundaria);
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0;
}

@media screen and (max-width: 580px) {
  .map_frame {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map_frame iframe {
    width: 95%;
  }
}