/*TODAS CATEGORIAS*/
.todas__categorias {
    padding: 0 3% 3% 3%;
}

.todas__categorias__lista {
    display: flex;
    justify-content: center;
    gap: 5%;
    list-style: none;
    flex-wrap: wrap;
}

.todas__categorias__lista__link {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    text-decoration: none;
}

.todas__categorias__lista__link:hover {
font-size: 20px;
}
