.todas__categorias__lista__link {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    text-decoration: none;
}

/*SESSAO MISTA*/
.sessao__eletronicos__lista__divisao__um {
    padding: 2% 20%;;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--cor-secundaria);
}

.sessao__eletronicos__imagem {
    width: 100%;
}

.sessao__eletronicos__lista__divisao__um__item {
    padding: 1%;
    align-items: center;
}

.sessao__eletronicos__lista__divisao__um__item__texto {
    text-align: center;
    color: var(--cor-principal);
    font-family: var(--font-secundaria);
    padding: 2%;
}