.rodape {
    padding: 2%;
    background-color:  var(--cor-secundaria);  
}

.rodape__texto {
    padding: 1%;
    color: var(--cor-principal);
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-secundaria);
    text-align: center;
}