.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
    padding: 3%;
    flex-wrap: wrap;
    background-color: var(--cor-secundaria);  
}

.cabecalho__titulo__link {
    text-decoration: none;
    font-family: var( --font-logo);
    color: var(--cor-principal);
    font-size: 30px;
}

.cabecalho__navegacao__lista {
    display: flex;
    gap: 10%;
    list-style: none;
    justify-content: space-evenly;
}

.cabecalho__navegacao__item__link {
    text-decoration: none;
    color: var(--cor-principal);
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
}
