.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
    padding: 3%;
    flex-wrap: wrap;
    background-color: var(--cor-secundaria);
}

.cabecalho__titulo__link {
    text-decoration: none;
    font-family: var(--font-logo);
    color: var(--cor-principal);
    font-size: 30px;
}

.cabecalho__navegacao__lista {
    display: flex;
    gap: 25%;
    list-style: none;
    justify-content: space-evenly;
    white-space: nowrap;
    /*evita a quebra de linha*/
    align-items: center;
    width: 100%;
}


.cabecalho__navegacao__item__link {
    display: flex;
    text-decoration: none;
    color: var(--cor-principal);
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    align-items: center;
}

.lista__desejo {
    background: url(../../assets/adicionar-sacola-de-compra.png) no-repeat;
    padding-left: 27px;
}

.entrar {
    background: url(../../assets/do-utilizador.png) no-repeat;
    padding-left: 27px;
}

.favoritos {
    background: url(../../assets/coracao.png) no-repeat; 
    /* padding-left: 25px; */
}

/*https://www.flaticon.com/br/icon-fonts-mas-baixados/20*/