/*MAPA*/
.mapa__informacoes {
    text-align: center;
    padding: 1%;
}

.mapa__titulo, .mapa__texto {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1%;
}

.mapa__conteudo {
    /* padding: 0 2%; */
}

.mapa-frame {
    /* border-radius: 1.5em; */
}